.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
  
    .grid-item {
      width: calc(33.33% - 10px);
      margin-bottom: 20px;
  
      @media screen and (max-width: 768px) {
        width: calc(50% - 10px);
      }
  
      @media screen and (max-width: 480px) {
        width: 100%;
      }
  
      .grid-item-header {
        padding: 10px;
        background-color: #f2f2f2;
  
        span {
          font-weight: bold;
          color: #333;
        }
      }
    }
  }
  